@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #424242;
    color: gray;
}

.avatar {
    position: absolute;
    margin-left: -48px;
    margin-top: -23px;
    overflow: hidden;
    object-fit: none;
    height: 66px;
}

.user-box {
    background: url("https://habnet.io/templates/habnet/img/living-room-appartement.png") -150px;
    background-size: 2048px;
    image-rendering: pixelated;
    float: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu {
    font-size: 14px;
}

.navbar {
    background: #363838;
    border-bottom: 3px solid #545454;
}